.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  font-size: 18px;
  text-transform: uppercase;
}

.icons {
  display: flex;
  margin-left: -4px;
  gap: 19px;
}

.button {
  padding: 4px;
}

@media (max-width: 1030px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .icons {
    margin-left: auto;
  }
}

@media (max-width: 900px) {
  .text {
    font-size: 16px;
  }

  .icons {
    gap: 13px;
  }
}
